<!DOCTYPE html>
<html lang="en">
<%- include('./components/head') %>
  <body style="background-color: #111319">
    <div style="background-color: #111319" class="container-scroller">
      <div style="background-color: #111319" class="container-fluid page-body-wrapper full-page-wrapper">
        <div style="background-color: #111319" class="row w-100 m-0">
          <div style="background-color: #111319" class="content-wrapper full-page-wrapper d-flex align-items-center">
          <!-- alert -->
          <% if (req.query.err === "SUCCESS") { %>
            <div class="alert alert-success">
              <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
              Success!
            </div>
          <% } else if (req.query.err === "CANTREGENPASSWORD") { %>
             <div class="alert alert-success">
               <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
               You cannot regenerate your password currently.
             </div>
          <% } %>
            <div class="card col-lg-4 mx-auto">
              <div class="card-body px-5 py-5">
                <form>
                  <div class="text-center">
                    <h5>Authentication</h5>
                    <h3>Welcome!</h3>
                    <br><br>
                    <% if (!req.session.userinfo)  { %>
                      <a role="button" class="button" href="/login" onclick="this.classList.toggle('button--loading')">
                        <span class="button__text">Login</span>
                      </a>
                    <% } else { %>
                      <a role="button" class="button" href="/dashboard" style="color: white;">Login as <%= req.session.userinfo.username %></a>
                      <a role="button" class="btn btn-primary btn-lg logged-in-link justify-content-center align-items-center" href="/login" style="font-size: 18px; color: white;">Login on a different account</a>
                    <% } %>
                    <br>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- row ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <%- include('./components/scripts') %>
  </body>
</html>