<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Login to access the dashboard.">
    <title><%= settings.name %></title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">
    <script type="text/javascript" src="/assets/js/nanobar.js"></script>
    <script type="text/javascript" src="/assets/vendors/js/jquery-3.7.1.min.js"></script>
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="/assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="<%= settings.icon %>" />
    <link rel="icon" type="image/png" href="<%= settings.icon %>">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- Fonts styles -->
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'IBM Plex Sans', sans-serif;">
<div class="nanobar my-class" id="my-id" style="position: fixed;">
    <div class="bar"></div>
</div>
<style>
.button {
  position: relative;
  padding: 16px 50px;
  background: #0090e7;
  top: 6px;
  border: none;
  outline: none;
  border-radius: 15px;
  cursor: pointer;
}

.button:active {
  background: #0090e7;
}

.button__text {
  color: #ffffff;
  transition: all 0.2s;
}

.button--loading .button__text {
  visibility: hidden;
  opacity: 0;
}

.button--loading::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

.button2 {
  position: relative;
  padding: 100px 96px;
  background: #20242E;
  border: #292D39;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}

.button2:active {
  background: #20242E;
}

.button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%; 
    border-radius: 50%; 
  }

  .button2__text {
    color: #ffffff;
    font-size: 64px;
    transition: all 0.2s;
  }

  .button2--loading .button2__text {
    visibility: hidden;
    opacity: 0;
  }

.button2--loading::after {
  content: "";
  position: absolute;
  width: 96px;
  height: 96px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 8px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button2-loading-spinner 1s ease infinite;
}

@keyframes button2-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

@media screen and (max-width: 768px) {
    .button2 {
      width: 60%; 
      max-width: none; 
      /* just refit in phone */
      height: 1px;
    }

    .button2__text {
      font-size: 75px; 
    }
  }
</style>